body *{
	font-family: 'Graphik', sans-serif;
}
ion-toolbar {
	--background: var(--ion-color-primary);
	--color: var(--ion-color-primary-contrast);
}
ion-chip {
	/* --background: var(--ion-color-primary); */
	padding-left: 22px;
	padding-right: 22px;
}
ion-chip.selected {
	--background: var(--ion-color-primary);
}
.center-content {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}
.bottom-content {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}
.flex-column {
	display: flex;
	flex-direction: column;
}
.flex-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.flex-between {
	display: flex;
	justify-content: space-between;
}
.text-center {
	text-align: center;
}
.hidden {
	display: none;
}

.coffee-shop-wrap .name {
	display: flex;
	align-items: center;
}
ion-content.background-image {
	--background: url('../assets/img/auth-bg.jpg') 100% 100% / cover no-repeat;
}
.auth-wrap {
	padding: 0 20px;
	color: var(--ion-color-light);
}
.auth-wrap h1 {
	font-size: 35px;
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 20px;
}
.auth-wrap p{
	font-weight: 500;
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 20px;
}
.btn-classic{
	font-family: 'Graphik', sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	color: var(--ion-color-warning-contrast);
	border-radius: 10px;
}
.auth-btn{
	/* padding: 16px 11px; */
}
.auth-subbtn{
	height: auto;
	margin: 24px 0px 0px;
	color: var(--ion-color-primary-contrast);
	text-decoration: underline;

	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
}
.auth-wrap .icon {
	display: block;
	width: 175px;
	height: 175px;
	margin: 0 auto;
}
.primary{
	font-size: 12px;
	font-weight: 600;
	line-height: 22px;
	color: var(--ion-color-primary-contrast);
	text-decoration: underline;
}
.auth-input-label {
	font-size: 16px;
	line-height: 22px;

	font-weight: 600;
}
.auth-input {
	--padding-top: 12px;
	--padding-end: 13px;
	--padding-bottom: 12px;
	--padding-start: 13px;
	font-family: 'Graphik', sans-serif;
	font-size: 14px;
	border-radius: 10px;
	background-color: var(--ion-color-primary-contrast);
	height: 48px;

	margin: 5px 0px 15px !important;
}

.bottom-link-wrap {
	margin-bottom: 20px;
}
.coffee-card {
	margin: 0;
	margin-bottom: 5px;
	padding-bottom: 129%;
	background-size: cover;
	background-position-x: 50%;
	background-position-y: 50%;
	width: 100%;
	border-radius: 10px;
}
.coffee-section-wrap {
	position: relative;
	display: flex;
	margin-bottom: 20px;
	padding: 0 5px;
	overflow: hidden;
	overflow-x: scroll;
}
.coffee-section-wrap ion-chip {
	min-width: fit-content;
}
div.coffee-item-info {
	display: flex;
	flex-direction: column;
	align-items: center;
}
span.coffee-item-name {
	font-size: 16px;
}
.coffee-picture-container {
	position: relative;
	margin: 0;
	margin-bottom: 12px;
	padding-bottom: 100%;
	background-size: cover;
	background-position-x: 50%;
	background-position-y: 50%;
	width: 100%;
	border-radius: 5px;
	overflow: hidden;
	color: var(--ion-color-primary-contrast);
}
.coffee-picture-container > .coffee-picture-info-wrap {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px;
	width: 100%;
	height: 100%;
}
.coffee-picture-info-wrap > .coffee-picture-info-top,
.coffee-picture-info-wrap > .coffee-picture-info-bottom {
	display: flex;
	flex-direction: column;
}
.coffee-info-container,
.coffee-modifiers-container h3,
.coffee-calorific-info-container {
	padding: 0 20px;
}
.coffee-calorific-info-container > .wrap {
	display: flex;
	justify-content: space-between;
}
.coffee-calorific-info-container > .wrap > .value {
	font-size: 22px;
}

.overview-dummy-block {
	height: 80px;
}

.cart-item-cooking-time-wrap {
	display: flex;
	align-items: center;
}
.cart-item-cooking-time-wrap ion-icon {
	flex-basis: 24px;
	height: 24px;
}
.cart-item-cooking-time-wrap small {
	flex-basis: 85px;
}
.cart-item-cooking-time-wrap span {
	font-size: 16px;
}
.cart-item-modifiers-wrap {
	display: flex;
	flex-direction: column;
	font-size: 14px;
}

.cart-item-amount-wrap span {
	display: inline-block;
	margin: 0 6px;
	font-size: 22px;
}
.order-payment-label {
	padding-left: 16px;
}

.order-item-position-wrap {
	margin-bottom: 1em;
}

.inline-flex {display: inline-flex !important;}
.flex-start {align-self: flex-start !important;}
.flex-end {align-self: flex-end !important;}

/* ion-header{
}
ion-header ion-toolbar{
	--background: transparent;
	--color: var(--ion-color-warning-contrast);
} */
/* .icon-inner, .ionicon, svg{
	stroke: red;
} */

/*#region choose-place*/

.choose-place h2{
	font-size: 20px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: -0.23333333432674408px;
	color: black;
	margin: 35px 0px 27px;
}
.choose-place ion-radio{
	margin-right: 19px;
}
.choose-place ion-label{
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: -0.6000000238418579px;
	
}
.shop-item {
	display: flex;
	justify-content: space-between;
	margin-bottom: 12px;
	align-items: flex-start;
}
.shop-item label.label {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: -0.6000000238418579px;
	
}
.shop-item .details {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.shop-item .details span{
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: -0.6000000238418579px;
	color: #CF862F;
}

.shop-item .details a{
	color: #61473B;
	text-decoration: underline;
	font-size: 16px;
	line-height: 22px;
	letter-spacing: -0.6px;
}

.choose-place .shop-item:not(:last-child){
	border-bottom: 1px solid #AEAEAE;
	padding-bottom: 12px;
}
.choose-place .shop-item:last-child{
	margin-bottom: 27px;
}
.choose-place ion-button{
	--padding-start: 24px;
	--padding-top: 24px;
	--padding-bottom: 24px;
	--padding-end: 24px;
}
/*#endregion choose-place*

/* #region coffee-catalog*/

.coffee-section-wrap > ion-chip{
	background-color: var(--ion-color-primary-contrast);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;	
	margin-top: 10px;
}
.coffee-shop-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 10px;
	padding: 10px;
	background: var(--ion-color-primary-contrast);
	border-radius: 10px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}
.name ion-icon{
	font-size: 25px;
	margin-right: 12px;
	fill: #7C563A;
}

.coffee-section-wrap > ion-chip.selected{
	background-color: var(--ion-color-primary);
}

.coffee-item-info .coffee-item-name{
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	color: #2d2d2d;
}
.coffee-item-info .coffee-item-price{
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	color: #7A7A7A;
	letter-spacing: -0.6px;
	margin-top: 2px;
	margin-bottom: 25px;
}
.coffee-shop-wrap span {
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
	color: black;	
}
.coffee-shop-wrap .link *{
	text-decoration: underline;
	color: #7B7B7B;
}

/* #endregion coffee-catalog */

/* #region catalog-item */

.coffee-picture-info-wrap *{
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: -0.6000000238418579px;

}
.coffee-picture-info-wrap .coffee-picture-info-top ion-icon{
	margin-left: 10px;
}
.coffee-picture-info-wrap .coffee-picture-info-bottom ion-icon{
	margin-right: 10px;
}
.coffee-picture-info-wrap span{
	align-items: center;
}
.coffee-info-container p{
	margin: 0;
}
.coffee-info-container{
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: -0.6000000238418579px;
	color: black;	
}
.coffee-modifiers-container h3{
	font-size: 18px;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: -0.6000000238418579px;
	color: black;
}
.coffee-calorific-info-container h3{
	margin-top: 30px;
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: -0.6000000238418579px;
}

.coffee-calorific-info-container .value{
	font-size: 19px;
	font-weight: 500;
	line-height: 17px;
	letter-spacing: -0.6000000238418579px;
}

.coffee-calorific-info-container .label{
	font-size: 14px;
	font-weight: 300;
	line-height: 17px;
	letter-spacing: -0.6000000238418579px;
}
.overview-button-wrap {
	position: fixed;
	margin-bottom: 20px;
	left: 50%;
	right: unset;
	max-width: 335px;
	width: 100%;
	transform: translateX(-50%);
	z-index: 5;
}

.overview-button-wrap .content {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	color: black;
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
}
.overview-button-wrap .content{
}
.overview-button-wrap .content span:first-child{
	display: flex;justify-content: center;align-items: center;
}
.overview-button-wrap .content span:last-child{
	font-weight: 600;
}
.overview-button-wrap .content span>*:first-child{
	margin-right: 10px;
}
/* #endregion catalog-item */

/* #region basket */

.cart-item-name {
	display: inline-block;
	font-size: 18px;
	font-weight: 600;
	margin-right: 10px;

	font-size: 18px;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: -0.6000000238418579px;
}
.cart-item-name+small{
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: -0.6000000238418579px;
	white-space: nowrap;
}
.cart-item-amount-wrap > *{
	font-size: 18px;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: -0.6000000238418579px;
	margin-bottom: 14px;
	margin-top: 14px;
}
.cart-item-amount-wrap button {
	position: relative;
	width: 1.2em;
	height: 1.2em;
	font-size: 22px;
	border-radius: 50%;
	background-color: var(--ion-color-primary-contrast);
}
.cart-item-price-wrap>span{
	font-size: 22px;
	font-weight: 500;
	letter-spacing: -0.6000000238418579px;
	color: #61473B;
	margin-top: 20px;
}
.cart-button-wrap {
	margin: 0 40px 20px;
}
.cart-button-wrap .content {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	color: black;
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
}
.cart-button-wrap .content span:first-child{
	display: flex;justify-content: center;align-items: center;
}
.cart-button-wrap .content span:last-child{
	font-weight: 600;
}
.cart-button-wrap .content span>*:first-child{
	margin-right: 10px;
}
/* #endregion basket */

/*#region checkout-page*/

.checkout-page-input ion-input{
	background: rgba(255, 212, 163, 0.1);
	border-radius: 10px;
	margin-top: 9px;
	margin-bottom: 9px;

	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: -0.6000000238418579px;
	
}

.checkout-page-input ion-label > *{
	font-size: 14px !important;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: -0.23333333432674408px;
}
.checkout-page-input .checkout-page-total > b{
	font-size: 18px !important;
	font-weight: 500;
}
.checkout-page-input ion-input input{
	padding: 15px 0px 11px 14px !important;

	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: -0.6000000238418579px;
}

.checkout-page-select ion-select{
	border-radius: 3px;
	border: 2px solid var(--ion-color-primary);
	margin: 8px 0px;
	padding: 13px 14px 13px 19px;
}
.checkout-page-select ion-select ion-select-option {
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: -0.6000000238418579px;
}
.order-total-wrap {
	display: flex;
	justify-content: space-between;
	margin: 14px 0px 30px;
	padding-left: 16px;
	padding-right: 16px;

	font-size: 22px;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: -0.6000000238418579px;
}
.img-google{
	background: url(../assets/img/image3.png) center center no-repeat;
	width: 100%;
	height: 30px;
}
.img-apple{
	background: url(../assets/img/image2.png) center center no-repeat;
	width: 100%;
	height: 30px;
}.img-visa{
	background: url(../assets/img/image4.png) center center no-repeat;
	width: 100%;
	height: 30px;
}
.checkout-page-btn{
	color: black;
	margin: 10px 69px;
}

.checkout-page-btn *{
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	color: var(--ion-color-warning-contrast);
	border-radius: 10px;
}
/*#endregion checkout-page*/


