

body *{
	font-family: 'Graphik', sans-serif !important;

}
ion-toolbar {
	--background: var(--ion-color-primary);
	--color: var(--ion-color-primary-contrast);
}

.favPage{
	min-height: calc(90vh - 155px); /* Высота видимой части окна минус высота футера */

}
.d-none{
	display: none !important;
}
ion-chip {
	padding-left: 22px;
	padding-right: 22px;
}
ion-chip.selected {
	--background: var(--ion-color-primary);
}
ion-toolbar.bottom-bar {
	--background: var(--ion-color-light);
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-between {
	display: flex;
	justify-content: space-between;
}
.text-center {
	text-align: center;
}

ion-content.background-image {
	--background: url('../assets/img/auth-bg.jpg') 100% 100% / cover no-repeat;
}
.auth-wrap {
	padding: 0 20px;
	color: var(--ion-color-light);
}
h1{
	font-family: Montserrat;
}
.auth-wrap h1 {
	font-size: 35px;
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 20px;
}
.auth-wrap p{
	font-weight: 500;
	font-size: 15px;
	line-height: 20px;
	margin-bottom: 20px;
}

.auth-wrap .icon {
	display: block;
	width: 175px;
	height: 175px;
	margin: 0 auto;
}
.primary{
	font-size: 12px;
	font-weight: 600;
	line-height: 22px;
	color: var(--ion-color-primary-contrast);
	text-decoration: underline;
}
.dark {
	color: var(--ion-color-dark);
}
.auth-input-label {
	font-size: 16px;
	line-height: 22px;

	font-weight: 600;
}
.auth-input {
	--padding-top: 12px;
	--padding-end: 13px;
	--padding-bottom: 12px;
	--padding-start: 13px;
	font-family: 'Graphik', sans-serif;
	font-size: 14px;
	border-radius: 10px;
	background-color: var(--ion-color-primary-contrast);
	height: 48px;
	margin: 5px 0px 15px !important;
}

#splash-message {
	opacity: 0;
	transition: opacity .5s;
}
#splash-message.show {
	opacity: 1;
}
.bottom-link-wrap {
	cursor: pointer;
	margin-top: 2em;
	margin-bottom: 90px;
}

.coffee-card {
	overflow: hidden;
	margin-bottom: 5px;
	background-size: cover;
	text-align: start;
	width: 300px;
	height: 300px;
	transition: opacity 0.3s ease; /* Плавный переход */
}

.coffee-card ion-img {
	width: 100%;
	height: 100%; /* Высота контейнера */
	object-fit: cover;
	transition: opacity 0.3s ease; /* Плавный переход */
}


.coffee-card:hover ion-img {
	opacity: 0.7; /* Прозрачность при наведении на карточку */
}
/*Рамка категорий товаров*/
.coffee-section-outer-wrap {
	margin-top: 41px;
	padding: 0 315px;
}

.coffee-section-wrap {
	display: flex;
	white-space: nowrap;
	overflow: hidden;
}

.coffee-section-wrap::before,
.coffee-section-wrap::after {
	content: '';
}

.coffee-section-wrap ion-chip {
	min-width: fit-content;
	border: 1px solid #737373;
}

div.coffee-item-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 20px;
}

span.coffee-item-name {
	font-size: 16px;
}

.inline-flex {display: inline-flex !important;}
.flex-start {align-self: flex-start !important;}
.flex-end {align-self: flex-end !important;}

.shop-item {
	display: flex;
	justify-content: space-between;
	margin-bottom: 12px;
	align-items: flex-start;
	--inner-border-width: 0 0 0px 0;
}

.shop-item label.label {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: -0.6000000238418579px;

}
.shop-item .details {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin: 0px 0px 0px auto;
}

.shop-item .details span{
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: -0.6000000238418579px;
	color: #CF862F;
}

.shop-item .details a{
	color: #61473B;
	text-decoration: underline;
	font-size: 16px;
	line-height: 22px;
	letter-spacing: -0.6px;
}

.choose-place .shop-item:not(:last-child){
	border-bottom: 1px solid #AEAEAE;
	padding-bottom: 12px;
}
.choose-place .shop-item:last-child{
	margin-bottom: 27px;
}
.choose-place ion-button{
	--padding-start: 24px;
	--padding-top: 24px;
	--padding-bottom: 24px;
	--padding-end: 24px;
	max-width: 258px;
	margin: 0 auto;

}
.shop-radio{
	margin-top: 0px;
	--border-radius: 3px;
	--color-checked: #555555;
}
.shop-radio.radio-checked::after{
	position: absolute;
	content: url(../assets/img/check-icon.svg);
	background-color: white;
	width: 15px;
	height: 13px;
	top: 5%;
	left: 1%;
	color: green;
	font-weight: 1000;
	font-size: 22px;
	border-radius: 3px;
}
/*#endregion choose-place*/

/* #region coffee-catalog*/
.coffee-section-wrap > ion-chip{
	background-color: var(--ion-color-primary-contrast);

	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	margin-top: 10px;

}


.coffee-section-wrap > ion-chip.selected{
	background-color: var(--ion-color-primary);
}

.coffee-item-info .coffee-item-name{
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	color: #2d2d2d;
}
.coffee-item-info .coffee-item-price{
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	color: #7A7A7A;
	letter-spacing: -0.6px;
	margin-top: 2px;
	margin-bottom: 25px;
}


/* Skeleton styling */
ion-col.skeleton span.coffee-item-name {width: 90%;}
ion-col.skeleton p.coffee-item-price {width: 50%;}
.coffee-card > .skeleton-wrap {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: 100%;
}
.coffee-card > .skeleton-wrap > ion-skeleton-text {
	margin: 0;
}

#feedback-form{

}
#feedback-form p{
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: -0.6000000238418579px;
	color: #000;
	margin-top: 20px;
	margin-bottom: 13px;
}
#feedback-form ion-textarea{
	border: 2px solid #FFD4A3;
	border-radius: 10px;
	padding: 12px;
	margin-bottom: 38px;
}
#feedback-form ion-textarea textarea{
	min-height: 175px;
	padding: 0px;
}
#feedback-form ion-button{
	max-width: 238px;
	background: #FFD4A3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	--box-shadow: none;
	border-radius: 10px;
	color: #000;
	margin: 0 auto;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.20000000298023224px;
	text-transform: none;
	--padding-start: 22px;
	--padding-top: 22px;
	--padding-bottom: 22px;
	--padding-end: 22px;
}


/* #region tracking */
. order-tracking{
	color: #000;
	box-shadow: none;
	border: 1px solid #61473B;
	border-radius: 20px;
}
.order-tracking ion-card-header{
	color: #000;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: -0.23333333432674408px;

}
.order-tracking ion-card-content{
	font-size: 16px;
	line-height: 20px;
	letter-spacing: -0.6000000238418579px;

}

.order-item-position-wrap {
	margin-bottom: 18.5px;
}
.order-item-position-wrap b{
	font-weight: 600;
}
.order-item-position-wrap div:nth-child(2n) b{
	margin-top: 8px;
	margin-bottom: 3px;
	font-size: 15px;
}
.order-item-position-wrap div:nth-child(2n) span{
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: -0.6000000238418579px;

}
.order-tracking .order-total{
	color: #61473B;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: -0.6000000238418579px;
	margin-bottom: 12px;
}
.order-tracking .order-bonus{
	color: #61473B;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: -0.6000000238418579px;
	margin-bottom: 8px;
}
.order-tracking .order-address{
	margin-bottom: 11px;
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: -0.23333333432674408px;
}
.order-tracking ion-button{
	max-width: 238px;
}
/* #endregion tracking */

/* #region special-content */
.special-content{
	border-radius: 10px;
	padding: 1em;
	min-height: 147px;
	background-size: cover;
	background-position: center;
}
.special-content ion-card-title{
	color: white;
	font-size: 2.2em;
	font-weight: 500;
	line-height: 35px;
	letter-spacing: -0.6000000238418579px;
}
.special-content ion-card-title ion-skeleton-text {
	height: 1em;
}
.special-content ion-card-subtitle{
	font-size: 19px;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: -0.6000000238418579px;
	color: white;
}
.special-content p{
	color: black;
	padding: 0px 15px;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	letter-spacing: -0.6px;
}

.modal-content{
	font-size: 14px;

}

.modal-header ion-title{
	padding: 40px 52px 24px;
	text-align: center;
	font-size: 22px;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: -0.6000000238418579px;

}

#checkout-iframe{
	width: 100%;
	height: 100%;
}

/* Адаптивность для мобильных экранов для CartPage*/
.order-summary {
	min-height: calc(90vh - 155px);
}
@media (max-width: 640px) {
	.order-summary {
		width: 100%;
		margin-top: 20px;
	}

	.cart-header {
		text-align: center;
		margin-left: 0;
	}

	.cart-container {
		margin-left: 0;
	}

	.cart-container img {
		width: 60px;
		height: 60px;
	}

	.order-summary button {
		width: 100%;
	}
}
/* For SpecialsItem */

/* Стиль для самой карточки с фоном, тенями и анимациями */
.special-content {
	color: white;
	padding: 1rem;
	border-radius: 10px;
	background: rgba(97, 71, 59, 0.9); /* Подобран теплый оттенок для фона */
	transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}
/* Эффект при наведении */
.special-content:hover {
	transform: scale(1.05);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
/* Обертка для контента */
.content-wrapper {
	background: rgba(249, 217, 184, 0.8); /* Используем основной цвет фона для контента */
	padding: 1.5rem;
	border-radius: 8px;
	text-align: center;
}
/* Оформление контента акции */
.content-body {
	width: 100%;
	color: #61473b; /* Цвет текста более теплый, чтобы он сочетался с подвалом */
	font-size: 1rem;
	line-height: 1.6;
	background: rgba(249, 217, 184, 0.9); /* Цвет фона контента */
	padding: 1.2rem;
	border-radius: 10px;
	margin-top: 10px;
}